<%- include('../partials/header') %>

<br><br>
<form id="add-workout-form" method="POST" action="/categories<%= category._id %>/workouts">
  <label>Workouts:</label>
  <label>Sets:</label>
    <select name="sets">
        <option value="3">3</option>
   <label>Reps:</label>
    <select name="reps">
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12">12</option>
      </select>
        <input type="submit" value="Add Workout">
    </select>
</form>

<%- include('../partials/footer') %>